/* Page index.html : style du footer */

.index-footer {
  display: flex;
  flex-direction: column;
}

.index-footer h2 {
  font-size: 0.9rem;
  padding: 5px 5px;
}

.index-footer ul {
  list-style: none;
}

.index-footer li {
  padding: 5px 5px;
}

.index-footer a {
  text-decoration: none;
}

.index-footer-social-nav {
  width: auto;
  text-align: center;
}

.index-footer-social-nav > ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 0;
}

.index-footer-social-nav a {
  padding: 15px 15px;
  color: black;
}

.index-footer-bottom-box {
  margin: 10px 10px;
  display: grid;
  grid-template-columns: 15% 15% 15% 15% 15% 15% 15%;
}

.index-footer-container-logo {
  grid-column: 1;
  grid-row: 1;
  padding: 5px 5px;
}

.index-footer-container-open-account {
  grid-column: 2 / span 2;
  grid-row: 1;
}

.index-footer-container-partners {
  grid-column: 4 / span 2;
  grid-row: 1;
}

.index-footer-container-my-bank {
  grid-column: 6 / span 2;
  grid-row: 1;
  border-right: 2px black solid;
}

.index-footer-container-credits {
  grid-column: 1 / span 2;
  grid-row: 2;
}

.index-footer-container-faq {
  grid-column: 3 / span 2;
  grid-row: 2;
}

.index-footer-container-map {
  grid-column: 5 / span 3;
  grid-row: 2;
  border-right: 2px black solid;
}

.index-footer-container-map > iframe {
  width: 100%;
  overflow: hidden;
}

.index-footer-container-copyright {
  grid-column: 1 / span 7;
  grid-row: 3;
  text-align: center;
  border-right: 2px black solid;
  border-bottom: 2px black solid;
}

.index-footer-border-top-left {
  border-top: 2px black solid;
  border-left: 2px black solid;
}
