/* style de la div qui continet l'image du logo et le lien Espace membre   */
.container_logo {
  display: flex;
  justify-content: space-between;
}
/*la div qui contient l'image logo */
.logo {
  width: 100px;
  height: 100px;
  background-image: url(../img/logo.svg);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  padding: 10px;
}
/* Escpace connexion membre*/
.espace_membre {
  display: flex;
  padding: 10px;
}
/*lien espace membre */
.espace_membre a {
  text-decoration: none;
  color: black;
}

/* la div qui contient la bannière principale*/
.banniere {
  display: block;
  width: 100%;
  height: 300px;
  background-image: url(../img/money.jpg);
  /* background-attachment: fixed; */
  background-size: cover;
}

/*la div qui contient le menu principale et la barre de recherche*/
.container_menu {
  display: flex;
  margin: auto;
  margin-bottom: 20px;
  width: 60%;
  justify-content: space-between;
}
/*le texte des liens dans le menu */
.menu a {
  text-decoration: none;
  color: black;
  padding: 10px;
  text-transform: capitalize;
  font-weight: bold;
}
/*barre de recherche */
.barre_recherche {
  display: flex;
}

/*le texte affiché dans la barre de recherche */
.barre_recherche input {
  color: gray;
  text-align: center;
  width: 20em;
}

/* lien espace membre */
.espace_membre a {
  padding-top: 5px;
}

/* partie modal payer mes agios : ici la classe qui fait disparaire l adiv */
.overlay_modal_payer_agios {
  position: absolute;
  display: none;
  width: 80%;
  margin: auto;
  background-color: white;
  height: 15rem;
}
.montant_agios {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.nbrJourAgios {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
.btValider {
  display: flex;
  justify-content: center;
}
.button_valider_agios {
  width: 15rem;
  padding: 5px;
  background-color: #038c73;
  color: white;
}
/* ici la classe qui fait apparaitre le modal Payer mes agios  */
.show_modal_payer_agios {
  display: block;
}
/* bouton qui ferme lo modal Payer mes agios */
.close {
  color: rgb(54, 51, 51);
  font-size: 20px;
  text-decoration: none;
  position: absolute;
  top: 10px;
  right: 10px;
}
